<div class="container">
        <header class="header">
            <img src="https://www.shutterstock.com/image-photo/portrait-cute-long-haired-dog-260nw-2306664251.jpg" alt="Profile Picture" class="profile-picture">
            <button id="edit-profile-btn" class="edit-profile-btn">Edit Profile</button>
        </header>
       
        <main class="main">
            <div class="dashboard-data">
                <h1>Dashboard Data</h1>
                <p>Name: </p>
                <p>Services Provided: </p>
                <p>Address: </p>
                <p>City: </p>
                <p>State: </p>
            </div>
        </main>
    </div>